################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicMan - Desktop/.vs/MusicMan - Desktop/v16
