################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicMan - Desktop/.vs/MusicMan - Desktop/v16
/MusicMan - Desktop/bin/Debug/net5.0-windows
/MusicMan - Desktop/obj
